<% content_for :title, "밤딸기 플레이스 - 메인" %>
<div class="uk-child-width-expand@s" uk-grid>
  <div>
    <h2>공지</h2>
    <div class="uk-card uk-card-default uk-card-body" style="min-height: 180px">
      <% unless @articles_notice.each do |article| %>
        <li>
          <div class="uk-grid">
            <div class="uk-inline uk-width-expand nowrap-ellipsis"><%=  link_to article.title, "notice/#{article.id}"  %></div>
            <div class="uk-inline uk-width-auto uk-text-meta" style="overflow: hidden"><%=  article.created_at.in_time_zone("Seoul").strftime("%F")  %></div>
          </div>
        </li>
      <%  end  %>
      <%  end %>
    </div>
  </div>
  <div>
    <div class="header-with-option">
      <h2 class="uk-text-left">게시판</h2>
      <a href="<%= url_for"oneline" %>" style="margin: 18px" class="uk-text-right uk-text-bottom" uk-icon="icon: more"></a>
    </div>
    <div class="uk-card uk-card-default uk-card-body" style="min-height: 180px">
      <% unless @onelines.each do |article| %>
        <li>
          <div class="uk-grid">
            <div class="uk-inline uk-width-expand title"><%= link_to article.content, "oneline?article_id=#{article.id}" %></div>
            <div class="uk-inline uk-width-xsmall uk-text-meta nowrap-ellipsis"><%=  article.user.username  %></div>
          </div>
        </li>
      <%  end  %>
      <%  end %>
    </div>
  </div>
</div>
<h2>멀티플레이 서버 목록</h2>
<%= image_tag("pages/multiplays.jpg", alt: "multiplay servers", class: "main_banner") %>
<h3>Minecraft</h3>
<%= link_to image_tag("pages/nachtbeere_minecraft_logo.png", alt: "minecraft server", class: "main_banner"), "/minecraft/about" %>
<h3>Open TTD</h3>
<%= link_to image_tag("pages/nachtbeere_openttd_logo.png", alt: "openttd server", class: "main_banner"), "/multiplay/ottd" %>
<h3>Open RCT</h3>
<%= link_to image_tag("pages/nachtbeere_openrct_logo.png", alt: "openttd server", class: "main_banner"), "/multiplay/orct" %>
