<% content_for :title, "밤딸기 플레이스 - 게시판" %>
<% breadcrumb :oneline %>
<h1>게시판</h1>
<div>
  <% if current_user.nil? %>
    <fieldset class="uk-fieldset">
      <div class="uk-margin-small">
          <div class="uk-inline uk-width-1-1">
            <a class="link-cover" href="<%= url_for '/sign-in' %>">
              <div></div>
            </a>
            <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: comment"></span>
            <textarea placeholder="로그인 해주세요" class="uk-textarea" disabled></textarea>
          </div>
      </div>
      <div class="uk-text-right">
        <button class="uk-button uk-button-primary" disabled>작성</button>
      </div>
    </fieldset>
    <% else %>
  <%= form_for '/oneline', url: {action: 'create'}, html: {multipart: true, class: "toggle-class"} do %>
    <fieldset class="uk-fieldset">
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1" uk-form-custom="target: true">
          <%= file_field_tag :images, name: 'images[]', accept: 'image/png,image/gif,image/jpeg', multiple: true %>
          <input class="uk-input" type="text" placeholder="이미지는 최대 4 장 까지" disabled>
          <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: file"></span>
        </div>
      </div>
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: comment"></span>
          <%= text_area_tag :content, "", {placeholder: "글은 최대 280자까지", class: "uk-textarea", required: "required"} %>
        </div>
      </div>
      <div class="uk-text-right">
        <%= submit_tag "작성", {class: "uk-button uk-button-primary"} %>
      </div>
    </fieldset>
    <% end %>
  <% end %>
</div>

<ul class="uk-list uk-list-divider">
  <% unless @onelines.each do |oneline| %>
    <li id="oneline-article-<%= oneline.id %>">
    <article class="uk-comment">
      <div class="uk-grid">
        <div class="uk-width-auto">
          <% if oneline.user.avatar.attached? %>
            <%= image_tag(image_url(url_for(oneline.user.avatar)), loading: "lazy", class: "uk-comment-avatar-modified") %>
          <% else %>
            <div class="uk-comment-avatar-modified" style="background-color: <%= oneline.user.identity_colour %>" ></div>
          <% end %>
        </div>
        <div class="uk-width-expand uk-padding-remove-left">
          <header class="uk-comment-header-oneline uk-grid uk-padding-remove uk-grid">
            <div class="uk-width-expand uk-inline uk-comment-title-modified uk-width-oneline-username uk-text-bold uk-text-middle"><%= oneline.user.username_identity %></div>
            <div class="uk-text-right uk-padding-remove-left uk-inline uk-comment-meta-modified uk-width-oneline-datetime uk-text-middle"><%= oneline.created_at.in_time_zone("Seoul").strftime("%F %T") %></div>
          </header>
          <div class="uk-comment-body"><%= oneline.content %></div>
          <% if oneline.images.attached? %>
            <div class="uk-grid-medium uk-child-width-expand@s" uk-grid>
            <% oneline.images.each do |image| %>
            <a class="uk-width-1-2@l uk-width-1-1@m attached-image-modal-opener" data-image-src="<% image_url(url_for(image)) %>">
              <%= image_tag(image_url(url_for(image)), loading: "lazy", class: "uk-card uk-card-default uk-card-body oneline-image-box") %>
            </a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </article>
    </li>
  <%  end  %>
  <%  end %>
</ul>
<div class="uk-grid" uk-grid>
  <div class="uk-width-1-3@m uk-width-small@s"></div>
  <div class="uk-width-1-3@m"><%= paginate @onelines %></div>
  <div class="uk-width-1-3@m uk-width-small@s"></div>
</div>

<div id="attached-image-modal" uk-modal class="uk-flex-top">
  <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
    <button class="uk-modal-close-outside uk-close-large" type="button" uk-close></button>
    <img id="attached-image-view" alt="">
  </div>
</div>

<script type="text/javascript">
  /** jump to designated article if URL includes article ID */
  (function () {
    var articleId = null;
    if (location.search != null) {
      articleId = location.search.split('article_id=')[1];
    }
    if (articleId == null) {
      return;
    }
    setTimeout(() => {
      const el = document.getElementById('oneline-article-' + articleId.toString());
      if (el) {
        el.scrollIntoView({
          behavior: "auto", block: "center", inline: "center"
        });
        el.classList.add('highlight');
      }
    }, 0)
  })();

  /** Open a full size image view model when thumbnail is clicked */
  var payload = null;
  UIkit.util.on('.attached-image-modal-opener', 'click', function (e) {
    e.preventDefault();
    e.target.blur();
    payload = e.target.dataset.imageSrc;
    if (payload != null) {
      UIkit.modal('#attached-image-modal').show();
    }
  });
  UIkit.util.on('#attached-image-modal', 'show', function () {
    document.getElementById('attached-image-view').setAttribute('src', payload);
  });
</script>