<ul class="uk-subnav uk-subnav-divider" uk-margin>
  <li><%= link_to "대시보드", '/admin' %></li>
  <li><%= link_to "회원목록", '/admin/users' %></li>
  <li><%= link_to "MC", '/admin/minecraft' %></li>
  <li><%= link_to "OTTD", '/admin/ottd' %></li>
  <li><%= link_to "ORCT", '/admin/orct' %></li>
  <li><%= link_to "Toolbox", '/admin/toolbox' %></li>
</ul>
