<% breadcrumb :notice %>
<h1><%= t(@board_name) %></h1>
<ul class="uk-list uk-list-divider">
 <li>
   <div class="uk-grid">
     <div class="uk-inline uk-width-expand">제목</div>
     <div class="uk-inline uk-width-xsmall">작성자</div>
     <div class="uk-inline uk-width-small">작성일</div>
     <div class="uk-inline uk-width-xsmall">조회수</div>
   </div>
 </li>
<% unless @articles.each do |article| %>
    <li>
      <div class="uk-grid">
        <div class="uk-inline uk-width-expand"><%= link_to article.title, "notice/#{article.id}" %></div>
        <div class="uk-inline uk-width-xsmall uk-text-meta"><%= article.user.username %></div>
        <div class="uk-inline uk-width-small uk-text-meta" style="overflow: hidden"><%= article.created_at.strftime("%F %T") %></div>
        <div class="uk-inline uk-width-xsmall uk-text-meta"> <%= article.hits %></div>
      </div>
    </li>
<% end %>
<% end %>
</ul>
