<% content_for :title, "밤딸기 플레이스 - 공지" %>
<% breadcrumb :article_list %>
<h1><%= t(@board_name) %></h1>
<ul class="uk-list uk-list-divider">
 <li>
   <div class="uk-grid" style="padding-left: 0">
     <div class="uk-inline uk-width-expand">제목</div>
     <div class="uk-inline uk-width-small@m uk-width-1-5 uk-text-right">작성자</div>
     <div class="uk-inline uk-width-small@m uk-width-1-5 uk-text-right">작성일</div>
     <div class="uk-inline uk-width-xsmall@m uk-width-xxsmall uk-text-right">조회수</div>
   </div>
 </li>
<% unless @articles.each do |article| %>
  <li>
    <div class="uk-grid">
      <div class="uk-inline uk-width-expand title"><%=  link_to article.title, "notice/#{article.id}"  %></div>
      <div class="uk-inline uk-width-small@m uk-width-1-5 uk-text-meta uk-text-right"><%=  article.user.username  %></div>
      <div class="uk-inline uk-width-small@m uk-width-1-5 uk-text-meta uk-text-right hidden-on-small datetime-meta-small"><%=  article.created_at.in_time_zone("Seoul").strftime("%F %T")  %></div>
      <div class="uk-inline uk-width-xsmall@m uk-width-xxsmall uk-text-meta uk-text-right"> <%=  article.hits  %></div>
    </div>
  </li>
  <%  end  %>
  <%  end %>
</ul>
<div class="uk-grid" uk-grid>
  <div class="uk-width-1-3"></div>
  <div class="uk-width-1-3"><%= paginate @articles %></div>
  <div class="uk-width-1-3">
    <div class="uk-text-right">
    <% if @board_name == ADDITIONAL_CONFIG["article_categories"][0] && current_user != nil && current_user.admin? %>
      <%= link_to "글쓰기", '/' + ADDITIONAL_CONFIG["article_categories"][0] + '/write', method: :get, category: @board_name, class: "uk-button uk-button-danger uk-margin-small-bottom toggle-class" %>
    <% end %>
    </div>
  </div>
</div>
