<% content_for :title, "밤딸기 플레이스 - 마인크래프트/접속" %>
<% breadcrumb :minecraft_connect %>
<h1>접속</h1>
<h2>서버 현황</h2>
<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>

  <div class="uk-grid-margin uk-first-column">
    <div class="uk-card uk-card-default uk-card-body">
      <div class="server">
        <div class="mainline">
          <h3 class="uk-card-title">메인 서버</h3>
          <p class="server_url">connect.nachtbeere.net</p>
          <div class="uk-grid-match uk-text-center" uk-grid>
            <div class="uk-width-1-2">
              <div>
                <span class="uk-text-bold uk-text-meta">서바이벌</span>
              </div>
              <div class="uk-text-bold">
                <span><%= @health['mainline_survival'] ? @info['mainline_survival']['version'] : '버전 확인 불가' %></span>
              </div>
              <div class=
                     <% if @health['mainline_survival'] %>
                       "uk-text-bold uk-text-primary">
                       <% else %>
                       "uk-text-bold uk-text-danger">
                       <% end %>
                <p><%= @health['mainline_survival'] ? '접속 가능' : '접속 불가' %></p>
              </div>
              <div>
                <span uk-icon="clock"></span>
                <span><%= @health['mainline_survival'] ? @system['mainline_survival']['uptime'] : '확인 불가' %></span>
              </div>
              <div>
                <span uk-icon="server"></span>
                <span><%= @health['mainline_survival'] ? @system['mainline_survival']['memoryLoads'] : '확인 불가' %></span>
              </div>
              <div>
                <span uk-icon="users"></span>
                <span><%=  @health['mainline_survival'] ? "#{@info['mainline_survival']['currentPlayers']} / #{@info['mainline_survival']['maxPlayers']}" : '확인 불가' %></span>
              </div>
            </div>

            <div class="uk-width-1-2">
              <div>
                <span class="uk-text-bold uk-text-meta">크리에이티브</span>
              </div>
              <div class="uk-text-bold">
                <span><%= @health['mainline_creative'] ? @info['mainline_creative']['version'] : '버전 확인 불가' %></span>
              </div>
              <div class=
                     <% if @health['mainline_creative'] %>
                       "uk-text-bold uk-text-primary">
                       <% else %>
                       "uk-text-bold uk-text-danger">
                       <% end %>
                <p><%= @health['mainline_creative'] ? '접속 가능' : '접속 불가' %></p>
              </div>
              <div>
                <span uk-icon="clock"></span>
                <span><%= @health['mainline_creative'] ? @system['mainline_creative']['uptime'] : '확인 불가' %></span>
              </div>
              <div>
                <span uk-icon="server"></span>
                <span><%= @health['mainline_creative'] ? @system['mainline_creative']['memoryLoads'] : '확인 불가' %></span>
              </div>
              <div>
                <span uk-icon="users"></span>
                <span><%=  @health['mainline_creative'] ? "#{@info['mainline_creative']['currentPlayers']} / #{@info['mainline_creative']['maxPlayers']}" : '확인 불가' %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-grid-margin uk-first-column">
    <div class="uk-card uk-card-default uk-card-body">
      <div class="server">
        <div class="nightly">
          <h3 class="uk-card-title">테스트 서버</h3>
          <p class="server_url">nightly.nachtbeere.net</p>
          <div class="uk-text-bold">
            <span><%= @health['nightly'] ? @info['nightly']['version'] : '버전 확인 불가' %></span>
          </div>
          <div class=
                 <% if @health['nightly'] %>
                   "uk-text-bold uk-text-primary">
                       <% else %>
                       "uk-text-bold uk-text-danger">
                       <% end %>
            <p><%= @health['nightly'] ? '접속 가능' : '접속 불가' %></p>
          </div>
          <div>
            <span uk-icon="clock"></span>
            <span><%= @health['nightly'] ? @system['nightly']['uptime'] : '확인 불가' %></span>
          </div>
          <div>
            <span uk-icon="server"></span>
            <span><%= @health['nightly'] ? @system['nightly']['memoryLoads'] : '확인 불가' %></span>
          </div>
          <div>
            <span uk-icon="users"></span>
            <span><%=  @health['nightly'] ? "#{@info['nightly']['currentPlayers']} / #{@info['nightly']['maxPlayers']}" : '확인 불가' %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<h2>
  접속 방법
</h2>
<p>
  아직 밤딸기 사이트에 가입하지 않으셨다면 접속하실 수 없습니다. 밤딸기 사이트에 가입 후 접속해 주세요.
</p>
<p>
  가입한 이후에는 게임 접속 시 로그인이 필요하지 않습니다.
</p>
