<% breadcrumb :minecraft_connect %>
<h1>접속</h1>
<h2>서버 현황</h2>
<div class="uk-child-width-expand@s uk-text-center uk-grid">
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <div class="server">
        <div class="mainline">
          <h3>메인 서버</h3>
          <p class="server_url">connect.nachtbeere.net</p>
          <% if @health['mainline'] %>
            <div class="uk-text-bold uk-text-primary">
              <p>접속 가</p>
            </div>
            <div>
              <span uk-icon="clock"></span>
              <span><%= @system['mainline']['uptime'] %></span>
            </div>
            <div>
              <span uk-icon="server"></span>
              <span><%= @system['mainline']['memoryLoads'] %></span>
            </div>
            <div>
              <span uk-icon="users"></span>
              <span><%= @info['mainline']['currentPlayers'] %>/<%= @info['mainline']['maxPlayers'] %></span>
            </div>
          <% else %>
            <div class="uk-text-bold uk-text-danger">
              <p>접속 불가</p>
            </div>
            <div>
              <span uk-icon="clock"></span>
              <span>확인 불가</span>
            </div>
            <div>
              <span uk-icon="server"></span>
              <span>확인 불가</span>
            </div>
            <div>
              <span uk-icon="users"></span>
              <span>확인 불가</span>
            </div>
            <% end %>
        </div>
      </div>
    </div>
      </div>
    <div>
    <div class="uk-card uk-card-default uk-card-body">
      <div class="server">
        <div class="nightly">
          <h3>테스트 서버</h3>
          <p class="server_url">nightly.nachtbeere.net</p>
          <div>
          <% if @health['nightly'] %>
            <div class="uk-text-bold uk-text-primary">
              <p>접속 가능</p>
            </div>
            <div>
              <span uk-icon="clock"></span>
              <span><%= @system['nightly']['uptime'] %></span>
            </div>
            <div>
              <span uk-icon="server"></span>
              <span><%= @system['nightly']['memoryLoads'] %></span>
            </div>
            <div>
              <span uk-icon="users"></span>
              <span><%= @info['nightly']['currentPlayers'] %>/<%= @info['nightly']['maxPlayers'] %></span>
            </div>
          <% else %>
            <div class="uk-text-bold uk-text-danger">
              <p>접속 불가</p>
            </div>
            <div>
              <span uk-icon="clock"></span>
              <span>확인 불가</span>
            </div>
            <div>
              <span uk-icon="server"></span>
              <span>확인 불가</span>
            </div>
            <div>
              <span uk-icon="users"></span>
              <span>확인 불가</span>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>
  설치와 접속 방법
</h2>
<p>
  Windows 또는 Mac에서 마인크래프트를 2015년 10월 이후에 설치했다면, 별도로 자바를 설치할 필요가 없습니다.
</p>
