<% breadcrumb :password_reset %>
<!--<div class="uk-width-medium uk-padding-small uk-position-z-index uk-scrollspy-inview uk-animation-fade" uk-scrollspy="cls: uk-animation-fade" style="">-->
<div class="uk-text-center uk-margin">
  <h1>비밀번호 재설정</h1>
  <!--    <img src="img/login-logo.svg" alt="Logo">-->
</div>

<%= form_for '/password-reset-confirm', url: {action: 'password_reset'}, html: {class: "toggle-class"} do %>
  <fieldset class="uk-fieldset">
    <div class="uk-margin-small">
      <div class="uk-grid">
        <div class="uk-inline uk-width-1-4 flex-category" style="text-align: right">
          <span>새 비밀번호</span>
        </div>
        <div class="uk-inline uk-width-expand">
          <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: lock"></span>
          <%= password_field_tag :password, "", {placeholder: "영문, 숫자, 특수문자 8자 이상", class: "uk-input uk-border-pill", required: "required"} %>
        </div>
      </div>
    </div>
    <div class="uk-margin-small">
      <div class="uk-grid">
        <div class="uk-inline uk-width-1-4 flex-category" style="text-align: right">
          <span>새 비밀번호 확인</span>
        </div>
        <div class="uk-inline uk-width-expand">
          <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: lock"></span>
          <%= password_field_tag :password_confirmation, "", {placeholder: "영문, 숫자, 특수문자 8자 이상", class: "uk-input uk-border-pill", required: "required"} %>
        </div>
      </div>
    </div>
    <%= hidden_field_tag :token, "#{@token}" %>
    <%= submit_tag "비밀번호 재설정", {class: "uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"} %>
  </fieldset>
<% end %>