<% breadcrumb :sign_in %>
<!--<div class="uk-width-medium uk-padding-small uk-position-z-index uk-scrollspy-inview uk-animation-fade" uk-scrollspy="cls: uk-animation-fade" style="">-->
  <div class="uk-text-center uk-margin">
    <h1>로그인</h1>
<!--    <img src="img/login-logo.svg" alt="Logo">-->
  </div>

<%= form_for '/sign-in', html: {class: "toggle-class"} do %>
    <fieldset class="uk-fieldset">
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: mail"></span>
          <%= text_field_tag :email, "", {placeholder: " E-mail 주소", class: "uk-input uk-border-pill", required: "required"} %>
        </div>
      </div>
      <div class="uk-margin-small">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: lock"></span>
          <%= password_field_tag :password, "", {placeholder: "비밀번호", class: "uk-input uk-border-pill", required: "required"} %>
        </div>
      </div>
<!--      <div class="uk-margin-small">-->
<!--        <label><input class="uk-checkbox" type="checkbox"> 로그인 유지하기</label>-->
<!--      </div>-->
      <%= submit_tag "Sign In", {class: "uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"} %>
    </fieldset>
<% end %>
<%= link_to "Sign Up", '/sign-up', method: :get, class: "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom toggle-class" %>

<!-- reset password -->
  <%= form_for '/request-password-reset', url: {action: 'request_password_reset'}, html: {class: "toggle-class", hidden: "hidden"} do %>
    <div class="uk-margin-small">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: mail"></span>
        <%= text_field_tag :email, "", {placeholder: "가입한 E-mail 주소", class: "uk-input uk-border-pill", required: ""} %>
      </div>
    </div>
    <div class="uk-margin-bottom">
      <%= submit_tag "비밀번호 찾기", {class: "uk-button uk-button-primary uk-width-1-1 uk-border-pill"} %>
    </div>
  <% end %>
  <!-- /recover password -->

  <!-- action buttons -->
  <div>
    <div class="uk-text-center">
      <a class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade">비밀번호를 잊으셨나요?</a>
      <a class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade" hidden=""><span uk-icon="arrow-left"></span>로그인으로 돌아가기</a>
    </div>
  </div>
  <!-- action buttons -->
<!--</div>-->


